.results__results-container {
  position: absolute;
  width: 1040px;
  left: calc(50% - 1040px / 2);
  top: 47px;
  bottom: 0px;
}

.results__title {
  width: 169px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 0;
}

.results__search {
  height: 52px;
  margin-top: 12px;
  position: relative;
  display: flex;
}

.results__heart-icon {
  position: absolute;
  top: 18px;
  right: 175px;
  font-size: 18px;
}

.results__heart-icon:active {
  color: red;
}

.results__input {
  width: 890px;
  height: 52px;
  font-size: 20px;
  padding: 15px 14px 15px 14px;
}

.results__search-button {
  width: 150px;
  height: 52px;
  background: #1390e5;
  border: 0;
  font-size: 20px;
}

.results__filter-panel {
  margin-top: 40px;
  height: 24px;
  display: flex;
}

.results__results-count {
  margin-left: 15px;
  color: rgba(23, 23, 25, 0.3);
}

.results__view-switcher {
  margin-left: auto;
}

.results__grid {
  margin-top: 20px;
}

.results__video-title {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  height: 46px;
}

.results__channel-title {
  font-size: 14px;
  color: rgba(23, 23, 25, 0.3);
}

.results__grid-icon {
  font-size: 18px;
}

.results__list-icon {
  font-size: 18px;
  margin-right: 20px;
}

.ant-popover {
  font-size: 16px;
  left: calc(50% + 1075px / 7) !important;
  top: 73px !important;
}
